#heading-box {
    border-radius: 12px;
}

#heading-box > #heading-list {
    list-style: none;
    width: 90%;
}

#heading-list> li > .heading {
    background-color: rgb(255, 239, 239);
    padding: 20px;
    margin: 20px 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 1px rgb(252, 203, 203);
}

#heading-list> li > .heading > h2, h1, h3 {
    margin: 0;
    background-color: rgba(221, 27, 27, 0.027);
    padding: 15px;
    color: brown;
    text-align: center;
}
#heading-list> li > .heading > h2 > a {
    text-decoration: none;
    color: inherit;
}


#heading-list > li > .heading > .buttons {
    display: flex;
    justify-content: end;
}

#heading-list > li > .heading > .buttons > button {
    padding: 10px 20px;
    border: none;
    /* font-weight: bold; */
    font-size: large;
    margin: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 1px darkgrey;
}


#heading-list > li > .heading > .buttons > #edit {
    background-color: green;
    color: white;
}
#heading-list > li > .heading > .buttons > #edit:hover {
    background-color: rgb(1, 92, 1);
}
#heading-list > li > .heading > .buttons > #edit:active {
    background-color: rgb(1, 65, 1);
}
#heading-list > li > .heading > .buttons > #delete {
    background-color: red;
    color: white;
}
#heading-list > li > .heading > .buttons > #delete:hover {
    background-color: rgb(211, 1, 1);
}
#heading-list > li > .heading > .buttons > #delete:active {
    background-color: rgb(156, 3, 3);
}
