<div id="navbar">
    <div id="main-link">
        <a href="/" id="site" class="navitem" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h1>
                PMS
            </h1>
        </a>

    </div>
    <div id="insite-link">
        <div>
            <a href="/heading" class="navitem links" routerLinkActive="active" ariaCurrentWhenActive="page">
                Headings
            </a>
            <a href="/task" class="navitem links" routerLinkActive="active" ariaCurrentWhenActive="page">
                Tasks
            </a>
            <a *ngIf="hideLogin" href="/login" class="navitem links" routerLinkActive="active" ariaCurrentWhenActive="page">
                Login
            </a>
            <a *ngIf="hideLogin" id="logout_button" (click)="logout()" class="navitem links" routerLinkActive="active" ariaCurrentWhenActive="page">
                Logout
            </a>
        </div>
    </div>
</div>