{% extends 'base_pms.html' %}
{% load static %}
{% block title %}Personal Management System{% endblock title %}


{% block left %}
{% comment %} This is left block. {% endcomment %}
{% endblock left %}

{% block center %}
    {% for heading in headings %}
        <div id="heading-box">
            <fieldset id="heading-fieldset">
                <legend class="heading-legend">
                    <h3>{{heading.heading}}</h3>
                </legend>
                <div id="heading-detail">
                    <div id="heading-creation">
                        <p>{{ heading.created | date }}</p>
                    </div>
                    <div id="heading-schedule">
                        <ul>
                            <li>
                                {% if heading.start %}
                                    {{heading.start | date}}
                                {% else %}
                                    Start schedule not specified
                                {% endif %}
                            </li>

                            
                            <li>
                                {% if heading.end %}
                                    {{ heading.end | date }}
                                {% else %}
                                    End schedule not specified
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
                
                {% comment %} {% if heading.tasks.all %}
                    {% for task in heading.tasks.all %}
                        <div id="task-box">
                            <h4>{{ task.task }}</h5>
                            <span>{{ task.created }}</span>

                            <ul>
                                <li>{{task.start}}</li>
                                <li>{{ task.end }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %} {% endcomment %}
            </fieldset>
            <div id="heading-button">
                <a class="btn btn-danger"  href="{{ heading.get_absolute_url }}" id="button-edit">Edit</a>
            </div>
        </div>
    {% endfor %}
{% endblock center %}

{% block right %}
    {% comment %} This is center block. {% endcomment %}
{% endblock right %}