{% extends 'pms/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit heading{% endblock title %}
{% comment %} {% block top %}
    
{% endblock top %} {% endcomment %}
{% block center %}
    {% comment %} <div class="section-box">
        <div class="section-heading">
            <h1>Heading Details</h1>
        </div>
        <hr>
        <div class="section">
            <form action="" method="POST">
                {{ form | crispy }}
            </form>

            <div id="buttons">
                <a class="btn btn-danger btn-lg" href="{{ heading.get_detail_url }}" type="button">Details</a>
            </div>
        </div>
    </div> {% endcomment %}

    {% comment %} 
                        VIEW HEADING DETAIL    
    {% endcomment %}
    <div class="section-box">
        <div class="section">
            <h2 class="text-center">
                {{ heading.name }}
            </h2>
            <hr>
            <div id="date">
                <div id="start">
                    <strong><em>start:</em></strong>&ThickSpace; {% if heading.start %}{{ heading.start }}{% else %} <strong>-</strong> {% endif %}
                </div>
                <div id="end">
                    <strong><em>end:</em></strong>&ThickSpace; {% if heading.end %}{{ heading.end }}{% else %} <strong>-</strong> {% endif %}
                </div>
            </div>
            <div id="note">
                <strong><em>Note: </em></strong>&ThickSpace;{% if heading.note %}{{ heading.note }}{% else %} <strong>-</strong> {% endif %}
            </div>
            <div id="description">
                <strong>
                    <em>Description: </em>
                </strong>
                <br>
                <hr>
                <p>
                    {{ heading.description }}
                </p>
                <hr>
            </div>
            {% comment %} <hr> {% endcomment %}
            {% comment %} <hr> {% endcomment %}
            
            <div id="buttons">
                <a class="btn btn-danger btn-lg mx-1" href="{{ heading.get_update_url }}" type="button">Update</a>
                <a class="btn btn-danger btn-lg mx-1" href="{{ heading.get_update_url }}" type="button">Delete</a>
            </div>
        </div>
    </div>



    {% comment %} 
                    VIEW ALL TASKS
    {% endcomment %}

    {% if tasks %}
        <div class="section-box">
            <div class="section-heading">
                <h4>Tasks</h4>
            </div>
            <hr>
            {% for task in tasks %}
                <div class="section">
                    <h3 class="text-center">{{ task.name }}</h3>
                    <hr>
                    <div id="date">
                        <div id="start">
                            <strong><em>start:</em></strong>&ThickSpace; {{ task.start }}
                        </div>
                        <div id="end">
                            <strong><em>end:</em></strong>&ThickSpace; {{ task.end }}
                        </div>
                    </div>
                    <div id="buttons">
                        <a class="btn btn-success btn-lg mx-1" href="{{ task.get_absolute_url }}" type="button">Detail</a>
                        <a class="btn btn-warning btn-lg mx-1" href="{{ task.get_update_url }}" type="button">Edit</a>
                        <a class="btn btn-danger btn-lg mx-1" href="{{ task.get_update_url }}" type="button">Delete</a>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock center %}