{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'pms/css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <section id="section1">
        {% include "pms/include/navbar.html" %}
    </section>
    


    {% block message %}
        {% if messages %}
            <div id="message-box" onclick="">
                <div id="message">
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="message-button">
                    <button onclick="messageBoxDisable()" type="button">&Cross;</button>
                </div>
            </div>
            
        {% endif %}
    {% endblock message %}

    

    <section id="section2">
        <div id="row">
            <div id="left">
                {% block left %}{% endblock left %}
            </div>
            <div id="center">
                {% block center %}{% endblock center %}
            </div>
            <div id="right">
                {% block right %}{% endblock right %}
            </div>
        </div>
        
    </section>

    <section id="section3">
        {% include "pms/include/footer.html" %}
    </section>
    
    <script src="{% static 'pms/js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>