#chat {
    position: fixed;
    right: 50px;
    bottom: 0;
    background-color: brown;
    color: white;
    margin: 0;
    width: 300px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0px 0px 4px 1px rgb(126, 115, 115);
}
#chat > #header {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    text-align: center;
    background-color: inherit;
    color: white;
    display: flex;
}
#chat > #header > #text {
    /* border-top-right-radius: 12px; */
    border-top-left-radius: 12px;
    text-align: center;
    background-color: inherit;
    color: white;
    width: 80%;
}
#chat > #header > #symbol {
    border-top-right-radius: 12px;
    /* border-top-left-radius: 12px; */
    text-align: center;
    background-color: rgb(153, 36, 36);
    color: white;
    width: 20%;
}
#chat > #header > #symbol > #icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
#chat > #header > #symbol > #icon > #rotate {
    position: absolute;
    border: none;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-weight: bolder;
    cursor: pointer;
}
#chat > #header > #symbol > #icon > #rotate > h1 {
    background-color: inherit;
    color: inherit;
}

.chat-close-arrow-up {
    transform: rotateX(180deg);
}
.chat-open-arrow-down {
    transform: rotateX(0deg);
}



#chat > #body {
    height: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
}

#chat > #body > #content {
    flex: 1 1 auto;
    transition: 1s;
    padding: 10px;
    color: rgb(22, 17, 17);
    background-color: rgb(209, 207, 207);
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

#chat > #body > #input {
    flex: 0 1 auto;
    display: flex;
    background-color: brown;
    color: white;
    width: 100%;
}
#chat > #body > #input > input,
#chat > #body > #input> button {
    padding: 10px;
}
#chat > #body > #input > input {
    border-color: brown;
    outline-color: brown;
    color: brown;
    width: 80%;
}
#chat > #body > #input > button {
    border-color: brown;
    outline-color: brown;
    width: 20%;
    color: white;
    background-color: brown;
    cursor: pointer;
}
#chat > #body > #input > button:active {
    background-color: rgb(129, 28, 28);
}