* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    flex-flow: column;
}
#section1 {
    padding: 0;
    margin: 0;
    /* flex: 0 1 auto; */
}
#section2 {
    padding: 0;
    margin: 0;
    flex: 1 1 auto;
}
#section3 {
    padding: 0;
    margin: 0;
    /* flex: 0 1 50px; */
}

#row {
    display: flex;
}
#left, 
#right {
    width: 20%;
}
#center {
    width: 60%;
}


#navbar {
    display: flex;
    justify-content: space-between;
    background-color: darkslategrey;
    color: white;
}
#navbar > * {
    margin: 0;
}
#nav-left,
#nav-right {
    display: flex;
    color: inherit;
    background-color: inherit;
}
#nav-left {
    justify-content: start;
}
#nav-right {
    justify-content: end;
}
.nav-item {
    background-color: inherit;
    color: inherit;

    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;

}
#site {
    font-size: larger;
}
.nav-item:hover {
    background-color: rgb(32, 54, 54);
}



#message-box {
    border-radius: 12px;
    background-color: tomato;
    color: black;
    display: flex;
    width: 70%;
    position: fixed;
    top: 50px;
    left: 15%;
    box-shadow: 0px 0px 10px 1px black;
    transition: 1s;
    height: 40px;
    overflow: hidden;
}
#message-box > #message {
    border-radius: 12px;
    padding: 0px 30px;
    background-color: inherit;
    color: inherit;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#message-box > #message-button {
    border-radius: 12px;
    flex-grow: 0;
    /* border-radius: 12px; */
    padding: 0px 30px;
    /* height: 100%; */
    background-color: inherit;
    color: inherit;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
#message-box > #message-button > button[type='button'] {
    background-color: tomato;
    color: inherit;
    border: 0;
    outline: 0;
    height: inherit;
    font-size: larger;
    cursor: pointer;
}
#message-box > #message-button > button[type='button']:hover {
    text-shadow: 0px 0px 3px black;
}



#footer {
    background-color: darkslategray;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
}
#footer > #copy-right {
    font-size: larger;
}