<div id="login-container">
    <fieldset>
        <legend>Login</legend>

        <div id="login-message">
            <p *ngIf="invalid_username_password_status">
                {{ invalid_username_password_message}}
            </p>
        </div>
        <label for="username">Username</label> 
        <input #username type="text" placeholder="Username...">
        <br>
        <br>
        <label for="password">Password</label> 
        <input #password type="password" placeholder="Password...">
        <br>
        <br>
        <button type="button"(click)="login(username.value, password.value)">Login</button>
        <input hidden  (keydown)="login_on_enter($event, username.value, password.value)" />
    </fieldset>
</div>