<div id="body">
    <div class="container-card" id="container-navbar">
        <app-navbar></app-navbar>
    </div>

    <div class="container-card" id="container-row">
        <div id="row">
            <div id="left">
                <!-- <app-left></app-left> -->
            </div>
            <div id="center">
                <app-center></app-center>
            </div>
            <div id="right">
                <!-- <app-right></app-right> -->
            </div>
        </div>
    </div>

    <div class="container-card" id="container-footer">
        <app-footer></app-footer>
    </div>
</div>